button {
    text-align: center;
    border-radius: 15px;

    border: 0px;
    padding: 0px;
}

.brown_button {

    background: #593C1C;
    mix-blend-mode: normal;
    font-weight: 500;
    color: #F7F0E9;
    ;
}

.white_button {
    border: 1px solid #593C1C;
    background: #FFFFFF;
    color: #593C1C;
}

.brown_button:hover {

    background: #FFFFFF;
    color: #593C1C;
    border: 1px solid #593C1C;
}

.white_button:hover {
    border: 1px solid #FFFFFF;
    background: #593C1C;
    color: #FFFFFF;
}

.cream_button {
    background: #F7F0E9;
    color: #A97B47;
}

.cream_button:hover {
    background-color: #A97B47;
    color: #F7F0E9;
}

.light_brown_button {
    background-color: #A97B47;
    color: #F7F0E9;
}