.provider_info{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.provider_info img{
    height: 500px;
}

.provider_info p{
    font-weight: 500;
    font-size: 24px;
    align-self: flex-end;
}

.provider_info h1{
    font-weight: 600;
    font-size: 58px;
    align-self: flex-start;
}

.title{
    margin-top: 100px;
    color: #593C1C;
    font-weight: 600;
    font-size: 32px;
    text-align: left;
    align-self: flex-start;
 }